#django-rest-swagger {
    background: #f87900; 
    color: #eee; 
    text-align:right; 
    padding: 7px 0; 
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
#django-rest-swagger a {
    color: #fff;
    text-decoration: none;
}
